@model ITLATV.Models.Serie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
    <h4>Serie</h4>
    <hr />
<div class="card" style="width: 78rem;">
    <iframe width="100%" height="450"
            src="@Model.EnlaceVideo.Replace("watch?v=", "embed/")"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>

        <strong>Género Primario:</strong> @Model.GeneroPrimario
        <br />
        <strong>Género Secundario:</strong> @Model.GeneroSecundario
        <br />
        <strong>Productora:</strong> @Model.Productora
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
