@model Dictionary<string, List<ITLATV.Models.Serie>>

@{
    ViewData["Title"] = "Series por Género";
}

<h1>Series por Género</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var productora in Model)
{
    <h3>@productora.Key</h3> <!-- Título de la productora -->
    @if (productora.Value.Any())
    {
        <div class="row">
            @foreach (var serie in productora.Value)
            {
                <div class="card" style="width: 18rem; margin-right: 20px;">
                    <img src="@serie.EnlaceImagen" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">@serie.Name</h4>
                        <p class="card-text fw-bold">Generos:</p>
                        <p class="card-text">@serie.GeneroPrimario</p>
                        <p class="card-text">@serie.GeneroSecundario</p>
                        <p class="card-text fw-bold">Productora:</p>
                        <p class="card-text">@serie.Productora</p>
                        <a asp-action="Edit" asp-route-id="@serie.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@serie.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@serie.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No hay series disponibles para esta productora.</p>
    }
}
